body {
  background-color: rgb(5, 162, 5);
}

img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.north {
  transform: rotate(270deg);
}

.east {
  transform: rotate(0);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}
